@font-face {
  font-family: 'TATSanaChon-Bold';
  src: url('../static/fonts/TATSanaChon-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'TATSanaChon';
  src: url('../static/fonts/TATSanaChon-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'TATSanaSuksa';
  src: url('../static/fonts/TATSanaSuksa-Regular.woff2') format('woff2');
}